@import './foundations.css';

button{
    border: none;
}       
 
.btn-primary{
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
    border-radius: var(--small);
    font-weight: 600;
    line-height: 21.6px; /* 120% */
    letter-spacing: -0.18px;
    background: linear-gradient(180deg, var(--primary-4) 0%, var(--primary-5) 100%);
    color: white;
    height: 56px;
    font-size: 16px;
}


.btn-primary:hover{
    background: linear-gradient(180deg, var(--primary-3) 0%, var(--primary-4) 100%);
}

