svg{
    color:var(--neutral-5);
    font-size: 28px
}

.card {border-radius: 0;}

.businessText{color: var(--danger-4);}

.formWrapper{width: 100%;}

div.col-6{padding: 8em;}

p.paragraph-m{color:var(--neutral-5)}



#createAccountImg{
    background-image: url('main-img.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 80em;
    padding: 0;
}

.contenido{
    background: linear-gradient( rgba(255, 255, 255, 0) 40%, var(--primary-4)150%);
    color: white;
    padding: 8em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

#formContainer{
    padding: 8em;
}

.actionsAccountWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    & button {
        width: 220px;
    }
}

.createAccountMessage{
    background-color: var(--success-1);
    border: 1px solid var(--success-4);
    border-radius: var(--extra-small);
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: var(--medium);
    gap: 1em;
    font-weight: 600;

    & svg{
        color: var(--success-4);
    }
}

.error {
    background-color: var(--danger-1);
    border: 1px solid var(--danger-4);
    & svg{
        color: var(--danger-4);
    }
}
