.createAccountContainer{
  background-color: white;
  background: radial-gradient(circle at -200% -200%, var(--primary-4) 0%, rgba(255, 255, 255, 0) 85%);
  background-position: left top;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
  padding: 2em;
}

.formContainer{
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5em;
  /* background-color: greenyellow; */
  width: 100%;
  & div{width: 100%;}
  & .inputsWrapper{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
  }
}

.googleBtnWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 100%;
}

.actionsAccountWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  & button {
    width: 140px;
  }
}

.goToLoginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height:24px;
}

.createAccountMessage {
  background-color: var(--success-1);
  border: 1px solid var(--success-4);
  border-radius: var(--extra-small);
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: var(--medium);
  gap: 1em;
  font-weight: 600;
  font-size: 0.9em;
  & svg {
    color: var(--success-4);
  }
}

.error {
  background-color: var(--danger-1);
  border: 1px solid var(--danger-4);
  & svg {
    color: var(--danger-4);
  }
}

.selectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  padding: 0em;
  gap: 0.3em;
  & .checksWrappers{
    display: flex;
    gap: 1em;
    & .form-check-1, .form-check-2{
      border: 1px solid var(--neutral-3);
      border-radius: var(--extra-small);
      background-color: white;
      padding: 1em;
      display: flex;
      & label{
        display: flex;
        justify-content: start;
        width: 100%;
      }
    }
  }

}
.googleBtnWrapper{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  & div{
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    & hr{
      height: 1px;
      width: 100%;
    }
  }
  .googleBtn{
    height: 48px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    border: 1px solid var(--neutral-3);
    border-radius: var(--extra-large);
    width: max-content;
  }
}

@media screen and (max-width: 1328px){
  .createAccountContainer{
    flex-direction: column;
    justify-content: flex-start;
  }
  .formContainer {
    /* background-color: red; */
    height: 100%;
    max-width: none;
    align-items: stretch;
  }

  .inputsWrapper{
    height: 100%;
    /* background-color: blue; */
    
  }
  .googleBtnWrapper{
    flex-direction: column;
    /* background-color: chartreuse; */
    height: 100%;
  }

  .goToLoginWrapper{
    height: 100%;
    /* background-color: orange; */
  }
}

@media screen and (max-width: 960px){

  .createAccountContainer{
    flex-direction: column;
    justify-content: flex-start;
  }
  .formContainer {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    align-items: stretch;
  }

  .inputsWrapper{
    height: 100%;
    /* background-color: blue; */
  }
  .googleBtnWrapper{
    flex-direction: column;
    /* background-color: chartreuse; */
    height: 100%;
  }

  .goToLoginWrapper{
    height: 100%;
    /* background-color: orange; */
  }

}
@media screen and (max-width: 768px){
  .createAccountContainer{
    padding: 1.5em;
    gap: 1.5em;
  }
  .formContainer {
    /* background-color: red; */
    width: 100%;
    padding: 0em;
  }

  .googleBtnWrapper{
    padding: 0px;
    gap: 0;
  }
  .actionsAccountWrapper{
    flex-direction: column-reverse;
    & button {
      width: 100%;
    }
  }
  .googleBtnWrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    & p{
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: 480px){
  .createAccountContainer{
    padding: 1em;
    gap: 1em;
  }
  .formContainer {
    background-color: orangered;
    width: 100%;
    padding: 0;
    gap: 1em;
  }
  .checksWrappers{
    flex-direction: column;
  }
  .googleBtnWrapper{
    flex-direction: column;
    gap: 2em;
    padding: 0px;
    gap: 1em;
    & p{
      margin-bottom: 1em;
    }
  }

}
@media screen and (max-width: 375px){
  .createAccountContainer{
    padding: 1em;
    gap: 1em;
  }

  .formContainer {
    /* background-color: orangered; */
    width: 100%;
    padding: 0;
  }
  .inputsWrapper{
    height: 100%;
    /* background-color: blue; */
  }

}