@keyframes gradientAnimation {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}

.homeWrapper {
  background: radial-gradient(circle at 220% -220%, var(--primary-4) 0%, rgba(255, 255, 255, 0) 70%);
  display: flex;
  height: 100vh;
  padding: 3em;
  gap: 3em;
}

.profileWrapper {
  width: 35%;
  /* background-color: blueviolet; */
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1em;
  /* background-color: brown; */
}

.estadosActuales {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.sinSolicitudes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.emptyStateButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.emptyState {
  box-shadow: 0px 12px 8px -12px var(--neutral-3);
  border: 1px solid var(--neutral-3);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: black;
}

.charge {
  animation: gradientAnimation 1s ease-in-out infinite;

  & .profileWrapper {
    .inicialAvatar {
      background-color: var(--neutral-3);
      border: none;
      & h6{color: transparent;}
    }

    .profileImgWrapper {
      gap: 0.9em;
      height: 144px;
    }

    & button {
      background: var(--neutral-3);
      color: transparent;
      box-shadow: none;
    }
    button:hover {
      background-color: var(--neutral-3);
      color: transparent;
    }

    & ul {
      border: 1px solid var(--neutral-3);
    }

    & li {
      height: 72px;
      border-bottom: 1px solid var(--neutral-3);
    }
    & li:last-child {
      border-bottom: none;
    }

    & li > button {
      background-color: var(--neutral-3);
      color: transparent;
      height: 16px;
    }

    & div > button {
      background-color: var(--neutral-3);
      color: transparent;
      height: 16px;
    }

    & h5 {
      background-color: var(--neutral-3);
      color: transparent;
      border-radius: 100px;
    }

    & p {
      background-color: var(--neutral-3);
      color: transparent;
      border-radius: 100px;
    }
    & li > p {
      background-color: var(--neutral-3);
      color: transparent;
      border-radius: 100px;
    }

    & .infoNotification {
      background-color: var(--neutral-3);
      border: none;
      & svg{opacity: 0;}
    }
  }

  & .mainWrapper {
    & .topBarWrapper {
      width: 100%;
      justify-content: start;
      & .counterWrapper {
        background-color: var(--neutral-3);
        box-shadow: none;

        & h6 {
          color: transparent;
        }
        & p {
          text-wrap: nowrap;
          color: transparent;
        }
      }

      & .logoHomeWrapper {
        background-color: var(--neutral-3);
        border-radius: 100px;
        width: fit-content;
        margin-left: auto;
        img {
          opacity: 0;
        }
      }

    }

    & .textContentWrapper {
      & h4, p{
        background-color: var(--neutral-3);
        border-radius: 100px;
        width: fit-content;
        color: transparent;}
    }

    & .SelectionModuleWrapper{
        & .stepBadge{
            background-color: transparent;
            color: transparent;
        }
        & h6, p{
            background-color: var(--neutral-3);
            border-radius: 100px;
            width: fit-content;
            color: transparent;
        }
        & select{
            background-color: var(--neutral-3);
            color: transparent;
            box-shadow: none;
            --bs-form-select-bg-img:none;

        }
    }
    & .sessionWrapper{
        & h4, p{
            background-color: var(--neutral-3);
            border-radius: 100px;
            width: fit-content;
            color: transparent;
            & .stepBadge{
                background-color: transparent;
                color: transparent;}
        }
        & .emptyState{
            background-color: var(--neutral-3);
            border: none;
            color: transparent;
    
        }
        & .actionWrapper{
            & button{
                background: var(--neutral-3);
                box-shadow: none;
                color: transparent;
            }
            & button:last-child{
                display: none;
            }
        }
    }

  }
}
