#createAccountImg{
    background-image: url('main-img.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 80em;
}

.brandsWrapper{
    display: flex;
    align-items: center;
    gap: 1em;
    color: aquamarine;
}