@keyframes light-green {
  0% {
    box-shadow: 0px 0px 0px 0px var(--success-1);
  }
  50% {
    box-shadow: 0px 0px 0px 4px var(--success-2);
  }
  100% {
    box-shadow: 0px 0px 0px 6px white;
  }
}

.contadores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.mainContent {
  padding-top: var(--extra-large);
  padding-bottom: var(--extra-large);

  & p {
    color: var(--neutral-5);
  }
}

.sessionWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--extra-large);
  border-radius: var(--medium);
  background-color: white;
  gap: var(--medium);
  box-shadow: 0px 12px 11px -6px var(--neutral-2);
  margin-bottom: 3em;
  border: 1px solid var(--neutral-3);

  & p {
    color: var(--neutral-5);
  }
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.emptyState {
  border-radius: 8px;
  border: 1px dashed var(--neutral-colors-neutral-04, #b1c3cc);
  background: var(--white, #fff);
  display: flex;
  height: 120px;
  width: 100%;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

#loginBtn {
  height: 40px;
  background-color: white;
  border: 1px solid var(--neutral-3);
  border-radius: var(--small);
  padding: var(--small) var(--medium);
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 12px -12px var(--neutral-2), 0px -2px 0px 0px var(--neutral-1) inset;
  & p {
    color: var(--neutral-6);
  }
}

.btn-light.btn-circle.active .circle {
  background-color: var(--success-4);
  /* box-shadow: 0px 0px 0px 0px var(--success-2); */
  animation-name: light-green;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.btn-light.btn-circle.inactive .circle {
  background-color: var(--danger-4);
}

/* Estilos adicionales para el texto junto al círculo */
.btn-light.btn-circle .status-text {
  margin-left: 5px;
  font-weight: bold;
}
