.roomWrapper{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1em;
    padding: 1em;
    overflow: hidden;
    
}

.callColumn{
    /* background-color: yellow; */
    grid-column: 1 / 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chatColumn{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: 10 / 13;
    
}

.userStatusWrapper{
    /* background-color: red; */
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--medium);
    height: auto;
    gap: 0.8em;
    & h4{
        margin-bottom: 0;
    }   
}
.videoWrapper{
    background: var(--video-surface-inactive) ;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    border-radius: var(--medium);
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1em;
    /* background: url('https://img.freepik.com/foto-gratis/hombre-auriculares-videollamada_23-2148854889.jpg?w=1380&t=st=1700774902~exp=1700775502~hmac=e407cd51bc437342c9e1f4348b298b40e183e55505357e0b8ab04ce858773aed'); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px;
    overflow: hidden;
}
.chatWrapper{
    background: linear-gradient(white 90%, var(--neutral-3) 150%);
    width: 400px;
    height: 100%;
    border-radius: var(--medium);
    border: 1px solid var(--neutral-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 12px 11px -8px var(--neutral-3);
    overflow: hidden;


    & .headWrapper{
        background-color: white;
        border-bottom: 1px solid var(--neutral-3);
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: var(--medium);
        box-shadow: 0px -12px 24px var(--neutral-4);

        & p{
            color: var(--neutral-6);
        }
    }

    & .mainWrapper{
        background-color: red;
        height: 100%;
        width: 100%;
        overflow-y: visible;
        padding: var(--extra-small);

        & .messageWrapper{
            background-color: chocolate;
            display: flex;
            flex-direction: column;
            height: auto;

            & .userInfoContainer{
                background-color: aquamarine;
                height:40px;
                display: flex;
                align-items: center;

                & .userInfoChat{
                    display: flex;
                    align-items: center;
                    background-color: chartreuse;
                    height: 100%;
                    width: 100%;
                    padding-left: 0.5em;

                    & p:first-child{
                        margin-bottom: 0px;
                        width: 100%;
                    }
                    & p:last-child{
                        margin-bottom: 0px;
                    }
                }

            }

            .messageContainer{
                background-color: aqua;
            }
        }

    }

    & .actionsWrapper{
        /* background-color: yellow; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px var(--small) var(--small) var(--small);        
        
        & .chatActionContainer{
            background-color: white;
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            gap: 1em;
            border: 1px solid var(--neutral-3);
            border-radius:var(--extra-small);
            padding: 0px 0px 0px 8px ;
            overflow: hidden;
            
            & .actionIconWraper{
                background-color: var(--primary-4);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                aspect-ratio: 1 / 1;
                border-radius: 100px;
                & svg{color: white;}   
            }

            & input{
                /* background-color: aquamarine; */
                border: none;
                width: 100%;
            }
            & ::placeholder{
                color: var(--neutral-4);
            }
        }



    }

}


.videoActionsWrapper{
    /* background-color: red; */
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    padding: 1em;
    display: flex;
    gap: 1em;
    background: linear-gradient(hsla(0, 0%, 0%, 0) 50%,black 200%);
}

.callIconWrapper{
    border-radius: var(--extra-large);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid hsla(0, 0%, 50%, 0.1);
    backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 50%, 0.3); 
    & svg{color: white;}
} 

.icon-red{
    background-color: var(--danger-4); 
}

.icon-active{
    background-color: hsla(0, 0%, 10%, 0.3); 
}