.searching {
    display: flex;
    justify-content: space-between;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    font-weight: bold;
    background-color: #f1f8ff;
}

.searching-textleft {
    text-align: left;
}

.searching-textright {
    color: #3a7af1;
    text-align: right;
}