
/* todos los imports de css deben estar al inicio */
/* ejemplo: @import 'mi-archivo-style.css' */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';
@import './foundations.css';
@import './cardprofile.css';
@import './status.css';
@import './searching.css';
@import './createAcount.css';
@import './principal.css';
@import './contadorUsuarios.css';
@import './categorias.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
}

#root{
    height: 100vh;
    width: 100%;  
}




