
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

/* todos los imports de css deben estar al inicio */
/* ejemplo: @import 'mi-archivo-style.css' */

