/* todos los imports de css deben estar al inicio */
/* ejemplo: @import 'mi-archivo-style.css' */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap";
@import "./foundations.css";
@import "./cardprofile.css";
@import "./status.css";
@import "./searching.css";
@import "./createAcount.css";
@import "./principal.css";
@import "./contadorUsuarios.css";
@import "./categorias.css";
@import "./notFound.css";
@import "./adminhome.css";
@import "./adminlogin.css";
@import "./room.css";
@import "./statusTag.css";
@import "./avatar.css";
@import "userMessage";
@import "userMessageHead";
@import "chatRoomMessage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-rendering: geometricPrecision;
  shape-rendering: geometricPrecision;
}

#root {
  height: 100vh;
  width: 100%;
  color: var(--neutral-6);
}

input {
  height: 48px;
  font-family: "Inter", sans-serif;
}
